<section class="proyectos">
    <h2 class="titulo-secciones">Proyectos</h2>
    <i class="fa-solid fa-pen"></i>
   <div class="container">
    <div class="row">
        <div class="col-4 card" >
            <div class="face face1">
                <div class="content">
                    <figure class="icon" id="consultorio">
                        <img class="img-proyecto" src="./assets/2022-04-09.png"  alt="Imágen proyecto consultorio odontológico">
                    </figure>
                  
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://github.com/ceciamura/smileLabCba.git" target="_blank"><i class="fa-brands fa-github"></i>SmileLabCba</a>
                    </h3>
                    <p>Primer sitio web estático desarrollado. Se utilizó HTML 5, CSS3, SCSS.</p>
                </div>
            </div>
        </div>

        <div class=" col-4 card">
            <div class="face face1">
                <div class="content">
                    <figure class="icon" id="renvyle">
                        <img class="img-proyecto" src="./assets/renvyle.png"  alt="Imágen proyecto hotel Renvyle House">
                    </figure>
                  
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://github.com/ceciamura/renvyle-house.git" target="_blank"><i class="fa-brands fa-github"></i>Renvyle House Hotel Restaurant</a>
                    </h3>
                    <p>Primer sitio web dinámico desarrollado. Se utilizó HTML 5, CSS3, SCSS y Javascript</p>
                </div>
            </div>
        </div>

        <div class="col-4 card">
            <div class="face face1">
                <div class="content">
                    <figure class="icon">
                        <img class="img-proyecto" src="./assets/portfolio.png"  alt="Imágen del Portfolio full stack">
                    </figure>
                  
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a href="https://github.com/ceciamura/porfolioArgProg.git" target="_blank"><i class="fa-brands fa-github"></i>Portfolio Argentina Programa</a>
                    </h3>
                    <p>Primer sitio web Full Stack. Se utilizó HTML 5, CSS3, SCSS, Javascript, TypeScrypt, Angular, Java, MySql, Java Spring</p>
                </div>
            </div> 
    </div>
    </div>
    </div>



       

       
</section>
