<section class="proyectos">
    <h2 class="titulo-secciones">Proyectos</h2>
    <button
    type="button"
    class="botonEducacion"
    data-bs-toggle="modal"
    data-bs-target="#exampleModal4"
  >
    <a *ngIf="ulogged != ''"> <i class="fa-solid fa-plus"></i></a>
  </button>
   <div class="container">
     
    <div class="row">
        <div *ngFor="let proyecto of misProyectos" class="col-4 card" >
          <div *ngIf="ulogged != ''">
            <button
              type="button"
              class="botones-proyecto"
              data-bs-toggle="modal"
              data-bs-target="#exampleModal4"
            >
              <i
                (click)="editarProyecto(proyecto)"
                class="fa-solid fa-pen-to-square text-info"
              ></i
              >&nbsp;
            </button>
            <button class="botones-proyecto">
              <i
                (click)="eliminarProyecto(proyecto.id)"
                class="fa-solid fa-trash-can text-danger"
              ></i>
            </button>
          </div>
            <div class="face face1">
                <div class="content">
                    <figure class="icon" id="consultorio">
                        <img class="img-proyecto" src={{proyecto.portada}}  alt="Imágen proyecto consultorio odontológico">
                    </figure>
                  
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <h3>
                        <a class="tituloProyecto"href={{proyecto.github}} target="_blank"><i class="fa-brands fa-github"></i>{{proyecto.nombre}}</a>
                    </h3>
                    <p>Se utilizó:</p>
                    <ul class="listaProyecto" *ngFor="let tecno of proyecto.tecnologias"><li>{{tecno.nombre}}</li></ul>
                        
                </div>
            </div>
        </div>

    </div>
    </div>


<!-------------------------MODAL PROYECTO--------------------------------------------------------->
       
<div class="modal fade" id="exampleModal4" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <form [formGroup]="formProyecto" (ngSubmit)="guardarProyecto()">
                <h5 class="titulo">{{ accion | uppercase }} Proyectos</h5>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">
                    <i
                      [class.icono-verde]="
                        this.formProyecto.get('nombre')?.valid
                      "
                      [class.icono-rojo]="
                        this.formProyecto.get('nombre')?.invalid &&
                        this.formProyecto.get('nombre')?.touched
                      "
                      class="fa-solid fa-book"
                    ></i>
                  </span>
                  <input
                    formControlName="nombre"
                    type="text"
                    class="form-control"
                    placeholder="Nombre Proyecto"
                    aria-label="nombre"
                    aria-describedby="addon-wrapping"
                  />
                </div>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">
                    <i
                      [class.icono-verde]="
                        this.formProyecto.get('github')?.valid
                      "
                      [class.icono-rojo]="
                        this.formProyecto.get('github')?.invalid &&
                        this.formProyecto.get('github')?.touched
                      "
                      class="fa-solid fa-book"
                    ></i>
                  </span>
                  <input
                    formControlName="github"
                    type="text"
                    class="form-control"
                    placeholder="Github url"
                    aria-label="github"
                    aria-describedby="addon-wrapping"
                  />
                </div>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">
                    <i
                      [class.icono-verde]="
                        this.formProyecto.get('portada')?.valid
                      "
                      [class.icono-rojo]="
                        this.formProyecto.get('portada')?.invalid &&
                        this.formProyecto.get('portada')?.touched
                      "
                      class="fa-solid fa-book"
                    ></i>
                  </span>
                  <input
                    formControlName="portada"
                    type="text"
                    class="form-control"
                    placeholder="Portada url"
                    aria-label="github"
                    aria-describedby="addon-wrapping"
                  />
                </div>
                <div class="input-group flex-nowrap">
                  <span class="input-group-text" id="addon-wrapping">
                    <i
                      [class.icono-verde]="
                        this.formProyecto.get('anio')?.valid
                      "
                      [class.icono-rojo]="
                        this.formProyecto.get('anio')?.invalid &&
                        this.formProyecto.get('anio')?.touched
                      "
                      class="fa-solid fa-calendar-days"
                    ></i>
                  </span>
                  <input
                    formControlName="anio"
                    maxlength="10"
                    type="date"
                    class="form-control"
                    placeholder="YYYY/MM/DD"
                    aria-label="inicio"
                    aria-describedby="addon-wrapping"
                  />
                </div>
    
                <div class="modal-footer">
                  <button
                    type="button"
                    class="btn btn-secondary"
                    data-bs-dismiss="modal"
                  >
                    Close
                  </button>
                  <button
                    [disabled]="this.formProyecto.invalid"
                    type="submit"
                    class="btn btn-primary"
                    data-bs-dismiss="modal"
                    (ngSubmit)="guardarProyecto()"
                    >
                    Submit
                  </button>
                </div>
              </form>
        </div>
      </div>
    </div>
  </div>
       
</section>
