.icono-verde{
    color: green;
}
.icono-rojo{
    color: red;
}

.botones-proyecto, .botonEducacion{
    border-style: none;
    background-color: transparent;
    
}
#github{
    font-size: 1.5rem;
}
