
<section class="habilidades">
    <h2 class="titulo-secciones">Habilidades</h2>
    <a *ngIf="ulogged!=''" ><i class="fa-solid fa-pen"></i></a>
    <div class="habilidades-container">
    <div class="html-css">
      <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [imageSrc]="'./assets/html-css-logo-1.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#e24f24'"
            [innerStrokeColor]="'#f2895c'"
            [animation]="true"
            [animationDuration]="300"
>     </circle-progress>
   </div>   
  
    <div class="Javascript">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [imageSrc]="'./assets/js-logo-1.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#fdd83c'"
            [innerStrokeColor]="'#d4b830'" 
            [animation]="true"
            [animationDuration]="300"
>     </circle-progress>
    </div>
    <div class="Angular">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [imageSrc]="'./assets/angular-1.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#b62f31'"
            [innerStrokeColor]="'#e23236'" 
            [animation]="true"
            [animationDuration]="300"
>     </circle-progress>
    </div>
    <div class="mysql">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [imageSrc]="'./assets/mysql-1.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#235e70'"
            [innerStrokeColor]="'#e87a01'" 
            [animation]="true"
            [animationDuration]="300"
>     </circle-progress>
        </div>
    <div class="java">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [imageSrc]="'./assets/java-1.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#e1191c'"
            [innerStrokeColor]="'#066cb5'" 
            [animation]="true"
            [animationDuration]="300"
>     </circle-progress>
    </div>
    <div class="GitHub-1">
        <circle-progress
            [percent]="85"
            [radius]="100"
            [outerStrokeWidth]="16"
            [imageSrc]="'./assets/github-1.png'"
            [showImage]="true"
            [imageHeight]="110"
            [imageWidth]="110"
            [innerStrokeWidth]="8"
            [outerStrokeColor]="'#776b6b'"
            [innerStrokeColor]="'#000000'" 
            [animation]="true"
            [animationDuration]="300"
>     </circle-progress>
    </div>
</div>
</section>