
<section class="habilidades">
    <h2 class="titulo-secciones">Habilidades</h2>
    <i class="fa-solid fa-plus"></i> 
    <div class="habilidades-container">
    <div class="html-css">
        <img src="./assets/html-css-logo-1.png" alt="Html y CSS logo">
       <div class="w3-light-grey w3-round-xlarge">
        <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
      </div>
        
    </div>
    <div class="Javascript">
        <img src="./assets/js-logo-1.png" alt="Logo de Javascript">
        <div class="w3-light-grey w3-round-xlarge">
           <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div>
    </div>
    <div class="Angular">
        <img src="./assets/angular-1.png" alt="Logo Angular">
        <div class="w3-light-grey w3-round-xlarge">
           <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div>
    </div>
    <div class="mysql">
        <img src="./assets/mysql-1.png" alt="Logo de MySql">
        <div class="w3-light-grey w3-round-xlarge">
           <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div>
    </div>
    <div class="java">
        <img src="./assets/java-1.png" alt="Logo Java">
        <div class="w3-light-grey w3-round-xlarge">
           <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div>
    </div>
    <div class="GitHub-1">
        <img src="./assets/github-1.png" alt="Logo Github">
        <div class="w3-light-grey w3-round-xlarge">
           <div class="w3-container w3-blue w3-round-xlarge" style="width:25%">25%</div>
        </div>
    </div>
</div>
</section>