<section class="info">
    <section class="experiencia">
        <h2 class="titulo-secciones">Experiencia laboral</h2>
        <i class="fa-solid fa-plus"></i> 
        <div class="listaExperiencia">
            <ul>
                <li>Biodent - Consultorio Odontologico Privado. Inicio---- Fin  <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li>
                <li>Coinsa Centro de salud. odontola. Inicio--- fin   <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i></li>
                <li>Full Stack Developer Junior . Inicio--- Fin   <i class="fa-solid fa-pen"></i>
                    <i class="fa-solid fa-trash"></i></li>
            </ul>
        </div>
    </section>
    
    <section class="educacion">
        <h2 class="titulo-secciones">Educacion</h2>
        <i class="fa-solid fa-plus"></i> 
        <ul>
            <li>Colegio primario y secundario San Francisco de Asis. Titulo Bachiller. Santiago del Estero. <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li>
            <li>Facultad de Odontologia. Universidad Nacional de Cordoba.. <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li>
            <li>Escuela de Postgrado. Cirujano Dentista. <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li>
            <li>Desarrollo Web- CoderHouse. <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li>
            <li>Javascript - CoderHouse. <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li>
            <li>Full Stack Developer Jr - ArgentinaPrograma. <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li>
        </ul>
    </section>
    </section>
