<section class="info">
    <section class="experiencia">
        <h2 class="titulo-secciones">Experiencia laboral</h2>
        <i class="fa-solid fa-pen"></i>
        <div class="listaExperiencia">
            <div class="biodent">
                <div class="tituloExp">
                    <i class="fa-solid fa-tooth"></i>
                  <h3>Consultorio Odontologico</h3> 
                 </div>
                 <div class="info-biodent">                       
                    <span>Odontologa - Full Time</span>
                    <p>Fecha de inicio: ../../....</p>
                    <p>Fecha de final: ../../....</p>
                </div>
            </div>

            <div class="biodent">
                <div class="tituloExp">
                    <i class="fa-solid fa-tooth"></i>
                  <h3>Consultorio Odontologico</h3> 
                 </div>
                 <div class="info-biodent">                       
                    <span>Odontologa - Full Time</span>
                    <p>Fecha de inicio: ../../....</p>
                    <p>Fecha de final: ../../....</p>
                </div>
            </div>
            <div class="biodent">
                <div class="tituloExp">
                    <i class="fa-solid fa-code"></i>
                  <h3>Full Stack Developer</h3> 
                 </div>
                 <div class="info-biodent">                       
                    <span>Developer - Freelancer</span>
                    <p>Fecha de inicio: ../../....</p>
                    <p>Fecha de final: ../../....</p>
                </div>
            </div>
        
        </div>
      
        
    </section>
    
    
    <section class="educacion">
        <h2 class="titulo-secciones">Educacion</h2>
        <i class="fa-solid fa-pen"></i>
        <ul>
            <li>Colegio primario y secundario San Francisco de Asis. Titulo Bachiller. Santiago del Estero.</li> <!-- <i class="fa-solid fa-pen"></i><i class="fa-solid fa-trash"></i></li> -->
            <li>Facultad de Odontologia. Universidad Nacional de Cordoba.</li>
            <li>Escuela de Postgrado. Cirujano Dentista.</li> 
            <li>Desarrollo Web- CoderHouse.</li>
            <li>Javascript - CoderHouse. </li>
            <li>Full Stack Developer Jr - ArgentinaPrograma.</li>
        </ul>
    </section>
    </section>
