<header>
    <section class="redes">
        <div class="logo">
            <img src="./assets/logoARgPr.png" alt="">
            <p class="logoTxt">#YoProgramo</p>
        </div>
        <div class="iconos">
        <i class="fa-brands fa-facebook"></i>
        <i class="fa-brands fa-instagram"></i>
        <i class="fa-brands fa-linkedin-in"></i>
        </div>
        <div class="boton">
        <button id="login" class="editar">Login</button>
    </div>
      
    </section>
    
    <section class="banner">
        <img class="foto" src="./assets/WhatsApp Image 2022-04-09 at 6.15.54 PM.jpeg" alt="foto primer plano">
        <p class="txtPresentacion">Hola! Soy {{miPorfolio.name}} y trabajo como <span>{{miPorfolio.position}}</span>. Vivo en {{miPorfolio.country}} y cuando no estoy programando disfruto mucho
             de la naturaleza, deporte y los animales. Te invito a ver mi porfolio y mi trabajo.
        </p>
        <div class="iconos">
        <i class="fa-solid fa-pen"></i>
        
        </div>
    </section>
    </header>
